# **Import necessary libraries**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
dataset = pd.read_csv('iris.csv', names=names)

## ***Understand the data***

In [ ]:
dataset

     sepal-length  sepal-width  petal-length  petal-width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
dataset.describe()

       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## ***Split data into train & test***

In [ ]:
array = dataset.values
X = array[:,0:4]
Y = array[:,4]
x_train, x_test, y_train, y_test =train_test_split(X, Y, test_size=0.2, random_state=7)

In [ ]:
x_train

array([[6.2, 2.8, 4.8, 1.8],
       [5.7, 2.6, 3.5, 1.0],
       [4.6, 3.6, 1.0, 0.2],
       [6.9, 3.1, 5.4, 2.1],
       [6.4, 2.9, 4.3, 1.3],
       [4.8, 3.0, 1.4, 0.3],
       [5.5, 3.5, 1.3, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [7.1, 3.0, 5.9, 2.1],
       [6.7, 3.3, 5.7, 2.1],
       [6.8, 2.8, 4.8, 1.4],
       [6.4, 2.8, 5.6, 2.2],
       [6.5, 3.0, 5.5, 1.8],
       [5.7, 3.0, 4.2, 1.2],
       [5.0, 3.3, 1.4, 0.2],
       [6.7, 3.1, 4.4, 1.4],
       [6.0, 2.2, 4.0, 1.0],
       [6.4, 2.7, 5.3, 1.9],
       [4.7, 3.2, 1.6, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [7.7, 3.8, 6.7, 2.2],
       [4.3, 3.0, 1.1, 0.1],
       [6.3, 3.3, 6.0, 2.5],
       [5.5, 2.4, 3.7, 1.0],
       [5.0, 2.0, 3.5, 1.0],
       [6.5, 2.8, 4.6, 1.5],
       [5.0, 3.4, 1.6, 0.4],
       [4.4, 2.9, 1.4, 0.2],
       [5.0, 3.5, 1.6, 0.6],
       [6.7, 3.1, 4.7, 1.5],
       [7.3, 2.9, 6.3, 1.8],
       [5.5, 2.6, 4.4, 1.2],
       [5.2, 2.7, 3.9, 1.4],
       [5.7, 4.4, 1.5, 0.4],
       [7.2, 3.2, 6.0, 1.8],
       [5.4, 3.4, 1.7, 0.2],
       [5.8, 4.0, 1.2, 0.2],
       [6.1, 2.6, 5.6, 1.4],
       [5.7, 2.5, 5.0, 2.0],
       [4.8, 3.0, 1.4, 0.1],
       [6.5, 3.0, 5.8, 2.2],
       [4.6, 3.2, 1.4, 0.2],
       [6.6, 2.9, 4.6, 1.3],
       [6.7, 3.0, 5.2, 2.3],
       [6.1, 3.0, 4.6, 1.4],
       [5.7, 3.8, 1.7, 0.3],
       [7.0, 3.2, 4.7, 1.4],
       [4.7, 3.2, 1.3, 0.2],
       [6.5, 3.0, 5.2, 2.0],
       [7.7, 2.6, 6.9, 2.3],
       [4.9, 2.4, 3.3, 1.0],
       [4.8, 3.1, 1.6, 0.2],
       [5.5, 4.2, 1.4, 0.2],
       [5.6, 3.0, 4.1, 1.3],
       [6.4, 3.2, 5.3, 2.3],
       [5.2, 3.5, 1.5, 0.2],
       [7.9, 3.8, 6.4, 2.0],
       [5.8, 2.8, 5.1, 2.4],
       [5.7, 2.9, 4.2, 1.3],
       [5.1, 3.7, 1.5, 0.4],
       [5.1, 2.5, 3.0, 1.1],
       [5.0, 3.4, 1.5, 0.2],
       [7.7, 2.8, 6.7, 2.0],
       [7.6, 3.0, 6.6, 2.1],
       [5.0, 3.2, 1.2, 0.2],
       [5.4, 3.7, 1.5, 0.2],
       [6.7, 3.3, 5.7, 2.5],
       [6.1, 2.8, 4.0, 1.3],
       [6.3, 2.5, 5.0, 1.9],
       [7.4, 2.8, 6.1, 1.9],
       [5.0, 2.3, 3.3, 1.0],
       [5.4, 3.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.6, 2.8, 4.9, 2.0],
       [4.9, 3.0, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [6.0, 2.7, 5.1, 1.6],
       [6.8, 3.2, 5.9, 2.3],
       [6.2, 3.4, 5.4, 2.3],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 2.3, 4.4, 1.3],
       [4.9, 3.1, 1.5, 0.1],
       [6.9, 3.1, 5.1, 2.3],
       [5.0, 3.6, 1.4, 0.2],
       [4.4, 3.0, 1.3, 0.2],
       [6.0, 2.9, 4.5, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.8, 5.6, 2.1],
       [4.9, 3.1, 1.5, 0.1],
       [5.6, 2.9, 3.6, 1.3],
       [5.9, 3.0, 4.2, 1.5],
       [6.3, 2.7, 4.9, 1.8],
       [6.8, 3.0, 5.5, 2.1],
       [5.5, 2.3, 4.0, 1.3],
       [6.3, 2.8, 5.1, 1.5],
       [4.8, 3.4, 1.9, 0.2],
       [6.3, 3.3, 4.7, 1.6],
       [5.6, 2.5, 3.9, 1.1],
       [5.1, 3.8, 1.9, 0.4],
       [5.1, 3.8, 1.5, 0.3],
       [4.6, 3.4, 1.4, 0.3],
       [5.7, 2.8, 4.5, 1.3],
       [6.6, 3.0, 4.4, 1.4],
       [5.1, 3.5, 1.4, 0.2],
       [7.7, 3.0, 6.1, 2.3],
       [6.1, 3.0, 4.9, 1.8],
       [6.2, 2.2, 4.5, 1.5],
       [6.3, 3.4, 5.6, 2.4],
       [4.4, 3.2, 1.3, 0.2],
       [6.5, 3.2, 5.1, 2.0],
       [5.5, 2.5, 4.0, 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [5.1, 3.3, 1.7, 0.5],
       [5.8, 2.7, 5.1, 1.9],
       [5.8, 2.6, 4.0, 1.2],
       [6.3, 2.9, 5.6, 1.8],
       [5.8, 2.7, 4.1, 1.0],
       [5.0, 3.0, 1.6, 0.2]], dtype=object)

In [ ]:
x_test

array([[5.9, 3.0, 5.1, 1.8],
       [5.4, 3.0, 4.5, 1.5],
       [5.0, 3.5, 1.3, 0.3],
       [5.6, 3.0, 4.5, 1.5],
       [4.9, 2.5, 4.5, 1.7],
       [4.5, 2.3, 1.3, 0.3],
       [6.9, 3.1, 4.9, 1.5],
       [5.6, 2.7, 4.2, 1.3],
       [4.8, 3.4, 1.6, 0.2],
       [6.4, 3.2, 4.5, 1.5],
       [6.7, 3.0, 5.0, 1.7],
       [6.0, 3.4, 4.5, 1.6],
       [5.2, 4.1, 1.5, 0.1],
       [7.2, 3.6, 6.1, 2.5],
       [5.2, 3.4, 1.4, 0.2],
       [5.9, 3.2, 4.8, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [6.4, 3.1, 5.5, 1.8],
       [5.1, 3.8, 1.6, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.8, 2.7, 3.9, 1.2],
       [6.9, 3.2, 5.7, 2.3],
       [6.1, 2.9, 4.7, 1.4],
       [6.0, 2.2, 5.0, 1.5],
       [7.2, 3.0, 5.8, 1.6],
       [6.0, 3.0, 4.8, 1.8],
       [6.2, 2.9, 4.3, 1.3],
       [5.5, 2.4, 3.8, 1.1],
       [5.8, 2.7, 5.1, 1.9],
       [6.7, 3.1, 5.6, 2.4]], dtype=object)

## ***Train model***

In [ ]:
model = KNeighborsClassifier()
model.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

## ***Validate model for the test dataset***

In [ ]:
predictions = model.predict(x_test)

In [ ]:
print(accuracy_score(y_test, predictions))

0.9

In [ ]:
model.score(x_test,y_test)

0.9